<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Form</title>
</head>
<body>

<form action="{{ url_for(action, item_id=item.id) }}" method="post" enctype="multipart/form-data">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="{{ item.name }}" required>
    <br>
    <label for="description">Description:</label>
    <textarea name="description" id="description">{{ item.description }}</textarea>
    <br>
    <label for="image">Image:</label>
    <input type="file" name="image" id="image">
    <br>
    <button type="submit">Submit</button>
</form>

</body>
</html>
